
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffdddd;
    color: #333;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #000;
}


.Navbar {
    background-color: #333;
    overflow: hidden;
}

.Navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Navbar a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}


.Background {
    position: relative;
    height: 500px;
    text-align: center;
}

#Typing_Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Video_Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; 
}



.Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.Column_1,
.Column_2 {
    flex: 1;
    padding: 20px;
}

.Column_1 h1,
.Column_2 h1 {
    margin-bottom: 20px;
    color: #333;
}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: right;
    height: 100;
}

.contact-form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #c4b1bb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-aligned-label {
    text-align: left;
    display: block; 
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    

}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
